.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-weight: bold;
  color: #98d40c;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 25px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}