.aboutme{
 width: 80vw;
 height: 60vh;
 padding-top: 50px;
 margin: 0 auto;
}
/* .aboutme h2{
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  color:#b5ff6d;
  text-align: center;
  margin-bottom: 30px;
} */

.aboutme p{
  font-size: 33px;
  color:color;
  line-height: 1.3;
  text-align: center;
}