
.map-box iframe{
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  filter: grayscale() invert();
  border-radius: 20px;
  /* animation: slide-in 1s forwards ease; */
  /* scale:1.5; */
  /* transform: translateY(1000px); */
  /* animation-delay: 0.6s; */
  
}
