@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact_us_6  {
  font-family: Nunito, sans-serif;
  display: flex;
  /* background: linear-gradient(to right, gray, black); */
  padding-top: 12vh;
  
}

.form-box h1{
  font-family:  sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size:60px;
  /* background-color: rgb(106, 83, 40); */
  color: beige;
  margin-top: 15vh;
  color: var(--muidocs-palette-primary-dark);
  opacity: 0.8;
  position: absolute;
  left: 35%;
  /* top: 3%; */

}

.contact_us_6 .text-blk {
  margin: 0;
  line-height: 20px;
  color: gray;
  /* background-color: #fff; */
}

.contact_us_6 .responsive-cell-block {
  min-height: 75px;
  /* background-color:cadetblue ; */
  width:90%;
  text-align: left;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  background-color: rgba(18, 36, 1, 0.164);
}

.contact_us_6 .container-block {
  min-height: 70px;
  /* height: 600px; */
  width: 85%;
  /* padding:10px; */
  display: block;
  margin: 0 auto;
  /* background-color: rgb(233, 172, 59); */
}

.contact_us_6 .responsive-container-block {
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* margin:0 auto; */
  /* margin-top: 0px; */
  /* margin-bottom: 50px; */
  padding: 0;
  /* background-color: wheat; */
}
.contact_us_6 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  width: 35%;
  padding-bottom: 10px;
  padding-left: 30px;
  /* background-color: #03a9f4; */
  position: absolute;
  /* height: 950px; */
  right: 0px;
}

.contact_us_6 .responsive-container-block.container {
  position: relative;
  /* background-color: white; */
  min-height: 75px;
  flex-direction: row;
  z-index: 2;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  max-width: 1320px;
  /* width: 200px; */
  margin: 0 auto;
}

.contact_us_6 .container-block.form-wrapper {
  /* background: linear-gradient(to right, black, #121212); */
  /* max-width: 450px; */
  text-align: center;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border: 1px solid rgb(62, 62, 70);
  border-radius: 5px;
  margin-top: 50px;
  /* margin-right: 50px; */
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  position: relative;

}


.contact_us_6 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 60px;
  font-weight: 900;
  color:#a6a6a7;
  /* text-align: center; */
  /* background-color: #fff; */
  padding-bottom: 10px;
}

.contact_us_6 .text-blk.contactus-subhead {
  /* width: 300px; */
  margin-bottom: 50px;
  /* background-color: #fff; */
  /* display: none; */
}

.contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
  /* background-color: #fff; */
}

.contact_us_6 .input {
  width: 100%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border: 1px;
  border-radius: 5px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border: 1px solid rgb(62, 62, 70);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  background: none;
}

.contact_us_6 .textinput {
  width: 100%;
  min-height: 120px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border: 1px solid rgb(62, 62, 70);
  border-radius: 5px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  background: none;
  /* background-color: #fff; */
}

.contact_us_6 .submit-btn {
  width: 70%;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(207, 207, 207);
  border-radius: 40px;
  background:var(--muidocs-palette-primary-dark);
  opacity: 0.8;
  transition: 0.5s ease;
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 20px;
  
  

}
.submit-btn:hover{
  background: none;
  border-radius: 0px;
  scale: 1.05;
  color: white;
}

.contact_us_6 .form-box {
  z-index: 2;
  margin: 0;
  /* background-color: olive; */
}

.contact_us_6 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  /* padding-left: 10px; */
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #bdbdbe;

}
.contact_us_6  input{
  color: rgb(190, 189, 188);
  /* background-color: #fff; */
}
.contact_us_6 ::placeholder {
  color: #c0c0c1;
  opacity: 0.5;
  /* background-color: #fff; */
}

.contact_us_6 .mob-text {
  display: block;
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
}

.contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  /* background-color: #fff; */
  width: 80%;
}

.contact_us_6 .text-blk.contactus-subhead.color {
  color: white;
  /* background-color: #03a9f4; */
}


.reach {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.5rem;
  flex-wrap: wrap;
  /* gap: 30px; */
  margin:20px 0;
  /* background: rgba(51, 5, 5, 0.8);  */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;

}

.reach-item {
  width: 130px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  transform: translateY(100px);
  opacity: 0;
  animation: slide-in 0.8s forwards ease;
  
}
 .reach-item:nth-child(1) {
  animation-delay: 0.1s;
}
.reach-item:nth-child(2) {
  animation-delay: 0.3s;
}
 .reach-item:nth-child(3) {
  animation-delay: 0.5s;
}
 .reach-item:nth-child(4) {
  animation-delay: 0.7s;
}

.reach-item:hover{
  transform: scale(1.1);
  background-color: rgba(114, 133, 152, 0.3);
}

.reach-item .icon {
  font-size: 20px; 
  color: var(--muidocs-palette-primary-dark);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7)); /* Glow effect for icons */
}

.reach-item p {
  margin: 0;
  font-size: 1rem;
  color: rgb(189, 184, 184);
  text-align: center;
}

.contact_us_6 .map-box {
  max-width: 800px;
  max-height: 520px;
  width: 95%;
  height: 400px;
}
.contact_us_6 .map-part {
  width: 100%;
  height: 100%;
}
.map-box iframe{
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  filter: grayscale() invert();
  border-radius: 20px;
  /* animation: slide-in 1s forwards ease; */
  /* scale:1.5; */
  /* transform: translateY(1000px); */
  /* animation-delay: 0.6s; */
  
}
@keyframes slide-in {
 to{
   opacity: 1;
   transform: translateY(0px);
   scale: 1;
 }
}
.map-part iframe:hover{
  transform:scale(1.05);
  /* filter: none;  */
  /* filter:contrast(0.8); */
  border-radius: 0px;

}

.contact_us_6 .text-blk.map-contactus-head {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #747474;
}

.contact_us_6 .text-blk.map-contactus-subhead {
  max-width: 300px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.contact_us_6 .social-media-links.mob {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 230px;
  display: flex;
  justify-content: flex-start;
}

.contact_us_6 .link-img {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .social-icon-link {
  margin: 0 25px 0 0;
  padding: 0 0 0 0;
}