.navbar {
  position: fixed;
  left: 50%;
  top: 1.5%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  z-index: 999;
  width: 80vw;
  /* margin: 0 auto; */
  /* margin-top: 20px; */
  background: rgba(0, 0, 0, 0.3);
  /* background-color: rgb(24, 2, 2); */
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav-links {
  display: flex;

  align-items: center;
  gap: 30px;
  /* background-color: #fff; */
}
.navbar .logo p {
  /* color: #fff; */
  /* font-size: 3em; */
}
