.navbar {
  position: fixed;
  left: 50%;
  top: 1.5%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 999;
  width: 65vw;
  /* margin: 0 auto; */
  /* margin-top: 20px; */
  background: rgba(0, 0, 0, 0.3);
  /* background-color: rgb(24, 2, 2); */
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 40px;
  border: 1px solid rgba(105, 153, 64, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation:navbar 2s ease;
  /* overflow: hidden; */
}

@keyframes navbar {
  0% {
    opacity: 0;
    /* transform: translateY(-100px) translateX(-50%); */
  }
  100% {
    opacity: 1;

    
    /* transform: translateY(-10px) translateX(-50%); */
  

  }
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 15px;
  /* background-color: #fff; */
}
.navbar  li:hover {
  color: #fff;
  /* font-size: 3em; */
}


.top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}
.top a{
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.top:hover {
  opacity: 1;
}
@media (max-width: 800px) {
  .navbar {
    bottom: 0;
    top: auto;
    width: 100%;
    border-radius: 0; /* Rectangle Shape */
    padding: 15px;
    /* overflow: hidden; */
  }

  .nav-links {
    gap: 20px;
    font-size: 14px;
  }
}