.projects{
  width: 80vw;
  margin: 0 auto;
}


.media-wrapper {
  width:100% ;
 
  border-radius: 20px;
  overflow: hidden;
  /* background-color: pink; */
}

.media-wrapper video,
.media-wrapper img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}


/* Background variations */
.card1{ background-color: #c9f88771; }
.card2{ background-color: #f4a0c45d; }
.card3{ background-color: #b2ecf9a3; }
.card4{ background-color: #bff8dfb9; }
