.skills{
  height: 100vh;
  width: 80vw;
  margin: 100px auto;

}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 100px;
 

}


.skill-cards {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.scard {
  background: linear-gradient(to right, rgb(24, 20, 20), rgb(35, 32, 32));
  color: rgb(173, 174, 172);
  height: 60px;
  width: 250px;
  display: flex;
  /* padding-left: 20px; */
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition:0.7s ease-in-out;
  margin-bottom: 15px;
  box-shadow:5px 5px 2px rgba(116, 184, 15, 0.3);
}
.scard.left {
  transform: rotate(12deg);
  /* margin-left: -50px; */

}

.scard.right {
 /* margin-left: 50px; */
 transform: rotate(12deg);
}
.scard:hover {
  background: #1d1d1d;
  transform: scale(1.05) rotate(5deg) ;
  margin: 0;

}

.skill-video {
  width: 550px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}
.overlay{
  position: absolute;
  background-color:rgba(0,0,0,0.3);
  width:550px;
  height: 350px;
}

.skill-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}
