.skills{
  /* height: 100vh; */
  width: 80vw;
  margin: 100px auto;

}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 100px;
 

}


.skill-cards {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.scard {
  /* background-color: #fff; */
  height:60px;
  width: 250px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .scard.left {
  transform: rotate(12deg);
  margin-left: -50px;
  
}

.scard.right {
  margin-left: 50px;
  transform: rotate(12deg);
} */
/* .scard:hover {
  background: #1d1d1d;
  transform: scale(1.05)  ;
  margin: 0;
  
} */

.skill-video {
  width: 550px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  filter:brightness(.75) blur(1px) ;
  transition: 0.3s ease-in-out;
}
.skill-video:hover{
  filter: brightness(1) blur(0px);
}


/* .scard:hover .skill-video{
  filter: blur(0);
} */
/* .overlay{
  position: absolute;
  background-color:rgba(0,0,0,0.3);
  width:550px;
  height: 350px;
} */

.skill-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}
