@import "tailwindcss";
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color:linear-gradient(from left, rgba(255, 255, 255, 0)); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
html{
  scroll-behavior: smooth;
} */

/* body {
  width: 80vw;
  margin: 0 auto;
  font-weight: 600;
  font-family: 'Clash Display', sans-serif;
} */

h2{
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  color:#b5ff6d;
  text-align: center;
  margin-bottom: 30px;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
